* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigation bar */

.navbar {
    height: 3.8rem;
    width: 100%;
    background-color: #0F1111;
}

.logo img{
    height: 4.3rem;
    width: 4.9rem;
}