* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* navigation bar */

.logo {
    height: 3.8rem;
    width: 8rem;
}

.logo:hover {
    border: 2px solid white;
}

.logo img {
    height: 4.7rem;
    width: 8rem;
}

.navbar-main {
    height: 4rem;
    width: 100%;
    background-color: #0F1111;
    position: relative;
    display: flex;
    color: whitesmoke;

}

.nav-address {
    color: white;
    padding: 8px;
    margin-top: 0.6rem;
    height: 3.2rem;
    width: 5.2rem;
}

.top {
    font-size: 0.8rem;
}

.place {
    font-size: 1rem;
    font-weight: 600;
}

.nav-address:hover {
    border: 2px solid white;
}

.nav-search {
    display: flex;
    width: 53%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.all {
    height: 2.6rem;
    width: 4rem;
    font-size: 0.8rem;
    border-radius: 4px;
    text-align: center;
    background-color: rgb(239, 238, 238);
}

.search-bar {
    height: 2.7rem;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    font-size: 1.2rem;
}


.search-icon {
    height: 2.6rem;
    font-size: 1.5rem;
    background-color: #febd68;
    border-radius: 4px;
    padding: 10px 1.2rem 4px;
    /* margin-left: -1rem; */
    color: black;

}

.search-icon:hover {
    background-color: rgb(229, 154, 100);
}


.signin-bar {
    height: 3.8rem;
    padding: 1rem 4px 0 4px;
    margin-left: 4rem;
}

.signin-bar:hover {
    border: 2px solid white;
}

.signin-bar p {
    font-size: 0.8rem;
}

p.accounts {
    font-size: 1rem;
    font-weight: 600;
}

.returns {
    /* margin-top: 1rem; */
    height: 3.8rem;
    padding: 0.9rem 0 0 4px;
    margin-left: 3rem;
    width: 5rem;
}

.returns:hover {
    border: 2px solid white;
}

.returns .text {
    font-size: 0.8rem;
}

.returns .orders-text {
    font-size: 1rem;
    font-weight: 600;
}

.cart {
    margin-left: 1.6rem;
    margin-top: 0.6rem;
    height: 3rem;
    padding-right: 4px;
}

.cart:hover {
    border: 2px solid white;
}

.cart i {
    font-size: 2.7rem;
}

.cart span {
    font-size: 1rem;
    margin-top: 20px;
    /* border: 2px solid white; */
}

.headings {
    height: 2.8rem;
    background-color: #222f3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 4rem;
    font-size: 1rem;
    font-weight: 600;

}

.other-heading {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
    align-items: center;
    margin-left: -40%;
}

.hero-section {
    background-image: url('./images/hero_image1.jpeg');
    height: 22rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-txt {
    background-color: white;
    color: black;
    height: 3rem;
    text-align: center;
    padding: 12px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 2rem;

}

.hero-txt a {
    color: #007185;

}

.shopping-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.4rem;
    background-color: #e2e7e6;

}

.box {
    height: 20rem;
    background-color: white;
    padding: 20px 0px 15px;
}

.pdt1-img {
    background-size: cover ;
    height: 17rem;
}

.pdt1-content {
    margin: 10px 20px 20px 20px;
}

.pdt1-content p{
    margin-top: 0.6rem;
    color: #007185;

}
.pdt2-img {
    background-size: cover ;
    height: 17rem;
}

.pdt2-content {
    margin: 10px 20px 20px 20px;
}

.pdt2-content p{
    margin-top: 0.6rem;
    color: #007185;

}
.pdt3-img {
    background-size: cover ;
    height: 17rem;
}

.pdt3-content {
    margin: 10px 20px 20px 20px;
}

.pdt3-content p{
    margin-top: 0.6rem;
    color: #007185;

}
.pdt4-img {
    background-size: cover ;
    height: 17rem;
}

.pdt4-content {
    margin: 10px 20px 20px 20px;
}

.pdt4-content p{
    margin-top: 0.6rem;
    color: #007185;

}
.pdt5-img {
    background-size: cover ;
    height: 17rem;
}

.pdt5-content {
    margin: 10px 20px 20px 20px;
}

.pdt5-content p{
    margin-top: 0.6rem;
    color: #007185;

}
.pdt6-img {
    background-size: cover ;
    height: 17rem;
}

.pdt6-content {
    margin: 10px 20px 20px 20px;
}

.pdt6-content p{
    margin-top: 0.6rem;
    color: #007185;

}
.pdt7-img {
    background-size: cover ;
    height: 17rem;
}

.pdt7-content {
    margin: 10px 20px 20px 20px;
}

.pdt7-content p{
    margin-top: 0.6rem;
    color: #007185;

}
.pdt8-img {
    background-size: cover ;
    height: 17rem;
}

.pdt8-content {
    margin: 10px 20px 20px 20px;
}

.pdt8-content p{
    margin-top: 0.6rem;
    color: #007185;

}