*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 4rem;
    background-color: #0F1111;
     color: white;
}

/* Logo */
.nav-logo{
   /* border: 2px solid white;  */
   width: 8%;

}

/* to give border across the logo */
.border{
border: 2px solid transparent;
}


/* white border  */
.border:hover{
    border: 2px solid white;
    height: 3.7rem;
}
/* setting the height of the logo image */
.logo img{
    height: 4rem;

}


/* delievery location /*
